---
layout: default
---

<div class="home">

  <h1 class="page-heading" id="posts">About Me</h1>
  <div class="about">
    <p>Currently an undergraduate engineering student at Cornell University majoring in Computer Science with a minor in Electrical and Computer Engineering. At school I am a part of Cornell AppDev, a project team that produces iOS and Android apps. When I'm not working, I'm usually playing sports, watching sports or movies or doing the daily crossword puzzle. </p>
  </div>

  <h1 class="page-heading" id="posts">Projects of Note</h1>
  <ul class="post-list">
    <li>
      <h2 class="project-header">
        <a class="post-link" href="https://github.com/drewsdunne/HLS-Cryptography-Accelerator">Cryptography Accelerator for High-level Synthesis to an FPGA</a>
      </h2>
      <ul class="skill-list">
        <li>C++</li>
        <li>Vivado HLS</li>
      </ul>
      <p class="post-preview">
        For Cornell's High Level Design course, my group decided to make a crypto accelerator for our final project. We attempted to speedup AES, RSA, and SHA, while also making a password cracker. Overall, the only one we could accelerate to be faster than the ARM CPU on the FPGA was AES, and only because we made use of AES CTR, allowing us to encrypt and decrypt all the blocks in a pipeline. 
      </p>
    </li>
    <li>
      <h2 class="project-header">
        <a class="post-link" href="https://github.com/drewsdunne/Dance-Dance-Evolution">Dance Dance Evolution</a>
      </h2>
      <ul class="skill-list">
        <li>C</li>
        <li>Objective-C</li>
        <li>MATLAB</li>
      </ul>
      <p class="post-preview">
        Using two PIC32 microcontrollers, my partner and I created a new version of the popular game Dance Dance Revolution. Our version processes the audio using analog reads to generate the arrow dance moves akin to the original game. This link takes you to the GitHub source code. 
      </p>
    </li>
      <li>
        <h2 class="project-header">
          <a class="post-link" href="https://github.com/drewsdunne/graphic-equalizer-display">Graphic Equalizer Display</a>
        </h2>
        <ul class="skill-list">
          <li>C</li>
          <li>ARM M4</li>
        </ul>
        <p class="post-preview">
          Using the FRDM K64 board, my partner and I wrote interfaces for the LED matrix and audio filtering chip from scratch. Using these interfaces we then wrote a program to display the audio bands amplitude outputted from the chip on the display to react with music.
        </p>
      </li>
      <li>
        <h2 class="project-header">
          <a class="post-link" href="https://github.com/cuappdev/podcast-ios">Podcasts</a>
        </h2>
        <ul class="skill-list">
          <li>Swift</li>
        </ul>
        <p class="post-preview">
          An open-source basic podcast application that works off of the iTunes Search API. The app offers the basic functionality for finding, subscribing, listening, and downloading your favorite podcasts. Originally developed with social aspects in mind, we slowly transitioned the app to be a starter application for people looking to create their own podcast applications. 
        </p>
      </li>
      <li>
        <h2 class="project-header">
          <a class="post-link" href="https://github.com/drewsdunne/Clue">Clue - An OCaml Game</a>
        </h2>
        <ul class="skill-list">
          <li>OCaml</li>
        </ul>
        <p class="post-preview">
          A version of the Parker Brothers' classic Clue game written in OCaml. This project was developed as a final project for my Data Structures and Functional Programming course at Cornell, completed by me and three others.
        </p>
      </li>
  </ul>

  <h1 class="page-heading" id="posts">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.type == 'text' %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2 class="project-header">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="post-preview">
          {{ post.description }}
        </p>
      </li>
    {% endif %}
    {% endfor %}
  </ul>

</div>
